{% extends "base.html" %}

{% block content %}
<h2>¿Quiénes Somos?</h2>
<p style="text-align: justify;">"CompuPart" es una plataforma web diseñada para la venta en línea de productos de computación, ofreciendo una experiencia de usuario intuitiva y funcional. El sistema permite a los usuarios navegar por un catálogo de productos, visualizar descripciones detalladas, precios y disponibilidad. Los clientes pueden acceder al total del carrito de compras, agregar productos al carrito de compras, realizar pedidos y seguir el estado de sus compras.
El sistema incluye un panel administrativo para gestionar productos. Además, soporte para promociones y seguridad en las transacciones. "CompuPart" está optimizado para ser accesible desde dispositivos móviles y cuenta con una interfaz moderna que facilita la navegación.</p>

<b>INTEGRANTES:</b><br>
• Edwin Alvarez Yapuchura<br>
<b>e-mail:</b> elshopojr@gmail.com 
<a href="mailto:elshopojr@gmail.com?subject=Asunto del Correo&body=%3Chtml%3E%0A%3Cbody%3E%0A%3Ch1%3EHola%20desde%20HTML%3C/h1%3E%0A%3Cp%3EEste%20es%20un%20correo%20enviado%20desde%20un%20enlace%20HTML%3C/p%3E%0A%3C/body%3E%0A%3C/html%3E">
enviar correo
</a><br>
• Marco Antonio Quisbert Choque<br>
<b>e-mail:</b><br>
• Alvaro Waldo Linares Conde<br>
<b>e-mail:</b><br>
{% endblock %}
